@use "./variables/global";
@use "reset";

body {
    font: var(--font-m);
    background: var(--bg-gradient);
    height: 100vh;
    color: var(--color-primary);
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 90vw;
    height: 90vh;
    background: var(--color-accent);
    border-radius: 16px;
}
