* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;

    &:focus {
        outline: 1px solid var(--color-focus);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

button, input {
    color: inherit;
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font: var(--font-m);
}
