.Messenger {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 280px;
  grid-template-rows: 60px repeat(3, 1fr) 70px;
  grid-template-areas:
          "user user user user filter"
          "chat chat chat chat list"
          "chat chat chat chat list"
          "chat chat chat chat list"
          "send send send send list";
  overflow: hidden;
}