:root {
	--font-family-primary: 'Inter';
	--font-family-secondary: 'Manrope';

	// font-size
	--font-size-primary: 16px;
	--font-size-s: 14px;
	--font-size-m: 20px;
	--font-size-l: 28px;
	--font-size-xl: 36px;

	// transition
	--transition: 0.2s;

	// opacity
	--opacity: 0.7;

	// colors
	--body-background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(110, 110, 110, 1) 100%);
	--color-background: #272727;
	--color-background: rgba(39, 39, 39, 0.93);
	--color-surface: #313131; // карточки, блоки, кнопки
	--color-surface-hover: rgba(49, 49, 49, 0.8);

	--color-text-primary: #ffffff;
	--color-text-secondary: #6d6d6d;
	--color-text-success: #67ac5b;
	--color-text-error: #ff7272;
	--color-text-warning: #feae5b;
	--color-text-accent: #39bcec;

	// sizes
	--header-height: 75px;
	--sidebar-width: 260px;

	// glassmorphism
	--dropdown-background:
;
}
