.feed {
	grid-area: feed;

	padding: 16px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.posts {
	display: flex;
	flex-direction: column;
	gap: 20px;

	overflow-y: scroll;
}
