.Button {
  cursor: pointer;
  background-color: var(--color-surface);
  transition: 0.2s;
  border-radius: 10px;

  &:hover {
    color: var(--color-text-secondary);
  }

  &:active {
    transform: scale(0.97);
  }
}