.link {
	display: flex;
	align-items: center;
	gap: 6px;
	transition: var(--transition);

	font-size: var(--font-size-m);

	padding: 6px 6px 6px 25%;
	border-radius: 12px;

	&:hover,
	&.active {
		background-color: var(--color-surface);
		color: var(--color-text-accent);
	}
}
