.Sidebar {
  position: relative;
  grid-area: sidebar;
  padding: 10px;
  transition: 0.3s;

  &.closed {
    .text {
      display: none;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 25%;
  gap: 8px;
  border-radius: 10px;
  transition: 0.3s;

  &:hover, &.active {
    background-color: var(--color-background-hover);
    color: var(--color-text-accent);
  }
}

.closeBtn {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;

  right: -32px;
  bottom: 80px;
  border: 2px solid var(--color-surface);
}