.header {
	grid-area: header;
	padding: 16px;
	display: flex;
	gap: 18px;
}

.avatar {
	flex-shrink: 0;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.username {
	font-size: var(--font-size-xl);
	font-weight: 500;
}

.online {
	color: var(--color-text-success);
}

.age {
	margin-top: 12px;
}

.age,
.city,
.nation {
	font-size: var(--font-size-m);
	span {
		color: var(--color-text-secondary);
	}
}

.divider {
	margin: 12px 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-surface);
}
