.card {
	display: flex;
	flex-direction: column;
	gap: 6px;
	border-radius: 24px;
	user-select: none;

	&:hover {
		background-color: var(--color-surface-hover);
	}
}

.details {
	display: flex;
	gap: 12px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.isFriend {
	width: fit-content;
	font-size: var(--font-size-s);
	background-color: var(--color-text-secondary);
	border-radius: 12px;
	padding: 4px 8px;
}

.username {
	font-size: var(--font-size-l);
}

.city {
	color: var(--color-text-secondary);
}

.actions {
	display: flex;
	align-items: center;
	gap: 12px;
}
