.wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input {
    width: 100%;
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    background: transparent;
    color: var(--color-info);

    &::placeholder {
        opacity: 0.3;
    }
}
