.label,
.input {
	width: 100%;
}

.label {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input {
	border: none;
	background-color: transparent;
	outline: 1px solid var(--color-text-primary);
	border-radius: 16px;
	padding: 6px 12px;
	font-size: var(--font-size-primary);

	&:hover,
	&:focus {
		outline-width: 2px;
	}

	&:disabled {
		pointer-events: none;
		opacity: var(--opacity);
	}
}
