.listbox {
	position: relative;

	width: max-content;

	display: flex;
	align-items: center;
	gap: 8px;
}

.trigger {
	display: flex;
	align-items: center;

	gap: 10px;

	@include glassmorphism();
	padding: 8px 12px;
	border-radius: 18px;
}

.options {
	position: absolute;
	right: 0;
	top: 100%;
	margin-top: 6px;

	width: max-content;
	padding: 3px;
	@include glassmorphism();
}

.options,
.option {
	border-radius: 12px;
}

.option {
	cursor: pointer;
	padding: 8px 14px;
	user-select: none;

	&:hover,
	&[data-focus] {
		background-color: rgba(255, 255, 255, 0.1);
	}

	&[data-selected] {
		color: var(--color-text-accent);
	}

	&[data-disabled] {
		pointer-events: none;
		cursor: not-allowed;
		color: var(--color-text-secondary);
	}
}
