:root[data-theme='dark'] {
	--color-background: #272727;
	--color-surface: #313131; // карточки, блоки, кнопки
	--color-surface-hover: rgba(49, 49, 49, 0.8);

	--color-text-primary: #ffffff;
	--color-text-secondary: #6d6d6d;
}
