:root[data-theme='light'] {
	--color-background: #d8d8d8;
	--color-surface: #cecece; // карточки, блоки, кнопки
	--color-surface-hover: rgba(206, 206, 206, 0.8);

	--color-text-primary: #000000;
	--color-text-secondary: #929287;
}
