.form {
	min-width: 300px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.header {
	font-size: var(--font-size-xl);
	margin-bottom: 14px;
}

.submit {
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 8px;

	&:hover {
		text-decoration: underline;
	}
}

.toggleForm {
	margin-top: 10px;

	&:hover {
		text-decoration: underline;
	}
}

.error {
	align-self: start;
	font-size: var(--font-size-s);
	padding-left: 8px;
	color: var(--color-text-error);
}