.Navbar {
    background-color: var(--color-secondary);
    color: var(--color-info);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 10px 30px;

    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font: var(--font-l);
    font-weight: 700;
    gap: 8px;
}

.right {
    margin-left: auto;
}
