.Header {
	grid-area: header;

	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--color-surface);

	padding: 16px 24px;
}

.logo {
	font-size: var(--font-size-l);
	font-weight: 700;
	user-select: none;
}

.dropdown {
	margin-left: auto;
}
