.Header {
	grid-area: header;

	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--color-surface);

	padding: 16px 24px;
}

.logo {
	font-size: var(--font-size-l);
	font-weight: 700;
	user-select: none;
}

.right {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.greeting {
	font-size: var(--font-size-m);
	margin-right: 10px;

	span {
		color: var(--color-text-accent);
	}
}

.dropdown {
	pointer-events: none;

	&.loggined {
		pointer-events: auto;
	}
}
