.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	grid-area: header;
}

.info {
	text-align: center;
}

.username {
	font-size: var(--font-size-m);
	font-weight: 500;
}

.online {
	color: var(--color-text-success);
}
