.MessengerPage {
	display: grid;
	grid-template-columns: repeat(2, 1fr) 260px;
	grid-template-rows: 70px 1fr 80px;
	grid-template-areas:
		'header header filters'
		'chat chat list'
		'send send list';
}
