.menu {
  position: relative;
  width: fit-content;
}

.trigger {
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: var(--color-text-secondary);
  }
}

.menuItems {
  position: absolute;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid var(--color-surface);
  background: rgba(39, 39, 39, 0.19);
  backdrop-filter: blur(7px);
  outline: none;
  padding: 3px;
  border-radius: 12px;

  &.topStart {
    bottom: 100%;
    right: 100%;
  }

  &.topEnd {
    bottom: 100%;
    left: 100%;
  }

  &.bottomStart {
    right: 100%;
  }

  &.bottomEnd {
    left: 100%;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  transition: 0.3s;

  &.focus, &:hover:not(:disabled) {
    background-color: rgba(49, 49, 49, 0.5);
    color: var(--color-text-accent);
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}