.Card {
  background-color: var(--color-surface);
  transition: 0.2s;
}

.padding4 {
  padding: 4px;
}

.padding8 {
  padding: 8px;
}

.padding16 {
  padding: 16px;
}

.padding24 {
  padding: 24px;
}

.padding32 {
  padding: 32px;
}
